.register-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 10%;
    align-items: center;
}

.register-form div, button, a {
    max-width: 600px;
    width: 100%;
}